name: Build the Docker Image
on:
   workflow_dispatch:
   push:
      branches:
         - main
jobs:
   build:
      runs-on: ubuntu-latest
      steps:
         - name: Checkout
           uses: actions/checkout@v2
         - name: Configure Buildx
           id: buildx
           uses: docker/setup-buildx-action@v1
         - name: Login into Docker Registry
           uses: docker/login-action@v1
           with:
              registry: ghcr.io
              username: ${{ github.repository_owner }}
              password: ${{ secrets.REGISTRY_TOKEN }}
         - name: Build and Push Docker Image
           uses: docker/build-push-action@v2
           with: 
              context: ./
              file: ./Dockerfile
              platforms: linux/amd64
              builder: ${{ steps.buildx.outputs.name }} 
              push: true
              tags: ghcr.io/kittensaredabest/smokey:latest